<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container text-center mt-4">
        <h1>Clubes </h1>
        <div class="row mt-4" id="clubesContainer">
            <!-- Los nombres de los clubes se insertarán aquí -->
        </div>
    </div>

    <script>
        // Fetch para obtener los clubes de la API
        fetch('/clubs')
            .then(response => response.json())
            .then(clubes => {
                const clubesContainer = document.querySelector('#clubesContainer');
                
                clubes.forEach(club => {
                    const clubElement = `
                        <div class="col-6 col-md-4 col-lg-3 mb-3">
                            <a href="/clubes/${club.club_id}" class="text-light text-decoration-none">
                                ${club.nombre}
                            </a>
                        </div>
                    `;
                    clubesContainer.insertAdjacentHTML('beforeend', clubElement);
                });
            })
            .catch(error => {
                console.error('Error al cargar los clubes:', error);
            });
    </script>
</body>
</html>
