body {
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.navbar-brand {
  font-weight: bold;
}

.nav-link, .btn {
  color: white !important;
}
h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.btn {
    margin-top: 10px;
    font-size: 1.2rem;
    width: 100%;
}
.form-label {
    color: #ddd;
}
#message {
    margin-top: 10px;
    color: red;
}
a {
    display: block;
    margin-top: 15px;
    color: #ccc;
}
a:hover {
    color: #fff;
}
.cancha-container {
  position: relative;
  width: 584px;
  height: 918px;  
  background-image: url('/static/cancha.jpg');
  background-size: cover;
  margin: auto;
}

.camiseta {
  position: absolute;
  width: 60px;
  cursor: pointer;
}

#tabla-jugadores {
  max-width: 600px; /* Ajustar el ancho según prefieras */
  flex-shrink: 0;   /* Evitar que se reduzca */
  display: none;    /* Inicialmente oculta */
}

#tabla-jugadores.active {
  display: block;
}

#jugadores-disponibles {
  max-height: 800px; /* Limita la altura visible de la tabla */
  overflow-y: auto;  /* Activa el scroll vertical si el contenido excede */
}

.table {
  margin-bottom: 0; /* Quita el margen inferior de la tabla */
}